.metro-tile {
	background-color:#FF7D23;
	width: 232px;
	height:112px;
	padding: 5px;
	color:white;
	font-family:sans-serif;
	font-size:12px;
	border-width:3px;
	border-style:solid;
	cursor: default;
}
.metro-tile.metro-tile-small {
	width: 104px;
	height:104px;
}
.metro-tile-orange {
	background-color:#FF7D23;
	border-color:#FF7D23;
}
.metro-tile-green {
	background-color:#009719;
	border-color:#009719;
}
.tile_reset {
	-webkit-transform: perspective(400px) rotateY(0deg) rotateX(0deg)
}
.tile_left {
	-webkit-transform: perspective(400px) rotateY(-12deg)
}
.tile_right {
	-webkit-transform: perspective(400px) rotateY(12deg)
}
.tile_top {
	-webkit-transform: perspective(400px) rotateX(12deg)
}
.tile_bottom {
	-webkit-transform: perspective(400px) rotateX(-12deg)
}
.tile_middle {
	-webkit-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	border-width: 3px;
	border-style:solid; 
}